* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

button {
    padding: 0.3rem 0.6rem;
    font-size: 0.8rem;
    cursor: pointer;
}

div {
    display: flex;
    gap: 1rem;
}
